
.container{
    max-width: 1350px;
    margin-right: auto;
    margin-left: auto;
    margin-top:116px;
}
.categoryList{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    // gap:12px;
}
